@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-image: url("../images/itachi.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 200px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 460px;
  height: 400px;
  background-color: rgb(255, 255, 255);
  padding: 30px;
  border-radius: 4%;
  box-shadow: 3px 3px 1px 0px #00000060;
  position: relative;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #6d052c;
}

.label-float {
  position: relative;
  width: 100%;
  height: auto;
  position: relative;
  padding-top: 13px;
  margin-top: 5%;
  margin-bottom: 5%;
}
.label-float input {
  width: 100%;
  padding: 5px 5px;
  display: inline-block;
  border: 0;
  border-bottom: 2px solid #6d052c;
  background-color: transparent;
  outline: none;
  min-width: 180px;
  font-size: 16pt;
  border-radius: 0;
  transition: all 0.3s ease-out;
}

.label-float label {
  color: #6d052c;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 13px;
  transition: all 0.3s ease-out;
}

.label-float input:focus + label,
.label-float input:valid + label {
  font-size: 12pt;
  margin-top: -5px;
}

.hr {
  display: flex;
  justify-content: center;
  width: 100%;
}

.hr hr {
  width: 80%;
  margin: 50px;
}

.hr hr {
  border-color: #6d052c;
  top: 0;
}

button {
  width: 100%;
  padding: 7px;
  font-weight: bolder;
  margin-top: 20px;
  border-radius: 4px;
  cursor: pointer;
  background-color: #6d052c;
  color: #fff;
}

button:hover {
  width: 100%;
  background-color: #b2144b;
  color: #fff;
  border-color: #6d052c;
  transition: all 0.3s ease-out;
}

.div-btn {
  width: 100%;
}

p {
  color: #6d052c;
  font-size: 14pt;
  text-align: center;
}

a {
  color: #6d052c;
  font-weight: bolder;
  text-decoration: none;
  transition: all 0.3s ease-out;
}

a:hover {
  color: #b2144b;
}

.fa-eye {
  position: absolute;
  top: 14px;
  right: 10px;
  cursor: pointer;
  color: #6d052c;
}
